<form>
  <p>
    <label>Email</label>
    {{input type="email" value=email}}
  </p>
  <p>
    <label>Password</label>
    {{input type="password" value=password}}
  </p>
  <button type="submit" {{action "login"}}>Login</button>
</form>